:root {
  --main-text-color: #000000;
  --footer-text-color: #fcfcfd;
  --first-accent-color: #057f84;
  --second-accent-color: #ffb188;
  --theme-background: #fcfcfd;
  --main-gray-color: #d9d9d9;
  --theme-highlight-color: #ffb188;
}

body {
  background: var(--theme-background);
  font-family: "CynthoPro-Regular", Verdana, Geneva, Tahoma, sans-serif;
  color: var(--main-text-color);
}

h1 {
  font-size: 3.33vw;
  margin-bottom: 6.5vw;
}

h2 {
  font-size: 4.63vw;
  line-height: 123%;
}

h3 {
  font-size: 48px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
}

h4 {
  color: var(--second-accent-color);
  font-size: 30px;
  margin-bottom: 15px;
}

h3,
h4,
.name,
.profession,
.more-info-btn {
  font-family: "AlbulaPro-Bold", Verdana, Geneva, Tahoma, sans-serif;
}

.homepage {
  min-height: 100vh;
  padding: 2.08vw 4.16vw;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.theme-switch {
  display: flex;
  justify-content: end;
  align-items: center;
}

.theme-text {
  font-size: 12px;
}

.homepage-center-block {
  display: flex;
  margin: auto 0;
  justify-content: end;
}

.homepage-text-block {
  position: absolute;
  left: 0;
  margin: 4.42vw 0 0 7.8vw;
}

.homepage-img {
  width: 38vw;
}

.name {
  color: var(--first-accent-color);
  font-size: 3.07vw;
  margin-bottom: 5.2vw;
}

.profession {
  font-size: 4.35vw;
}

.homepage i {
  position: absolute;
  bottom: 2.08vw;
  font-size: 2.08vw;
  color: var(--main-gray-color);
  animation: 1s ease-out 5s infinite alternate jumping_arrow;
}

@keyframes jumping_arrow {
  from {
    bottom: 2.08vw;
  }
  to {
    bottom: 3.5vw;
  }
}

.text-underline-fist-color {
  background-size: 0;
  transition: background-size 250ms ease-in-out;
}

.text-underline-fist-color:hover {
  background: linear-gradient(
    transparent 50%,
    var(--first-accent-color) 50%,
    var(--first-accent-color) 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100%;
}

@media screen and (orientation: portrait) {
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 6.5vw;
  }
  .name {
    font-size: 4.6vw;
  }

  .profession {
    font-size: 6vw;
  }
  .homepage-center-block {
    display: flex;
    flex-direction: column;
  }
  .homepage-text-block {
    position: static;
    margin: 0;
    text-align: center;
  }
  .homepage-img {
    width: auto;
    max-width: 90%;
    margin: 5vh auto;
    max-height: 50vh;
  }
  .homepage i {
    font-size: 2.08vh;
  }
}

.navbar,
.container-fluid,
.navbar-brand {
  padding: 0;
}

.navbar {
  box-shadow: 0px 7px 9px rgb(0 0 0 / 15%);
  background: var(--theme-background);
}

.logo {
  width: 48px;
  height: 45px;
  display: inline-block;
  margin-left: 3.5vw;

  -webkit-mask: url(/svg/logo.svg) no-repeat 50% 50%;
  mask: url(/svg/logo.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--main-text-color);
}

.navbar-nav {
  margin-right: 2vw;
  align-self: flex-end;
}

.nav-link {
  margin: 0 16px;
  color: var(--main-text-color) !important;
  padding: 4px 15px !important;
  width: fit-content;
}

.active {
  border: 1px solid var(--main-gray-color);
  border-radius: 4px;
}

.navbar-toggler {
  margin-right: 3.5vw;
  border: none;
  width: 48px;
  padding: 5px;
}

.skills {
  min-height: 100vh;
  padding: 2.08vw 4.16vw;
}

.main-skill-list {
  font-size: 32px;
  margin-bottom: 40px;
}

.check-list-style {
  color: var(--first-accent-color);
  margin-top: 6px;
  font-size: 32px;
}

.main-skill-list p {
  font-size: 16px;
  font-family: "CynthoNext-LightItalic", Verdana, Geneva, Tahoma, sans-serif;
}

.main-skill-list a {
  color: var(--main-text-color);
}

.expertise,
.tools {
  font-family: "CynthoNext-Light", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 130%;
  margin-bottom: 30px;
}

.more-info-btn {
  background-color: var(--theme-background);
  margin: 30px 0 auto auto;
  display: flex;
  height: 60px;
  width: 200px;
  font-size: 16px;
  color: var(--first-accent-color);
  text-align: left;
  padding: 0 20px;
  line-height: 22px;
  border: 2px solid var(--first-accent-color);
  border-radius: 4px;
}

.more-info-btn div {
  align-self: center;
}

.more-info-btn i {
  align-self: center;
  font-size: 40px;
  color: var(--main-gray-color);
}

.portfolio {
  min-height: 100vh;
}

/* THEME TONGGLE SWITCH */
input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  width: 48px;
  height: 24px;
  background: var(--main-gray-color);
  display: block;
  border-radius: 24px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: var(--theme-highlight-color);
  border-radius: 20px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: var(--theme-highlight-color);
}

label:active:after {
  width: 30px;
}
/* THEME TONGGLE SWITCH END*/
